@model PMGSY.Models.ARRR.MachineryMasterViewModel

<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/ARRR/LoadMachineryMaster.js"></script>


<form id="frmLoadMachineryMaster">
    <div id="dvLoadMachineryMaster" style="width: 100%; border: none; margin-bottom: 10px;">
    </div>

    <input type="button" id="btnAdd" title="Add" value="Add" class="jqueryButton" />

    <div id="dvLoadMachineryMasterList" style="margin-top: 10px;">
        <table id="tblLoadMachineryMasterList">
        </table>
        <div id="dvLoadMachineryMasterListpager">
        </div>
    </div>
</form>
