@model PMGSY.Models.ARRR.ChapterItemsViewModel

<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/ARRR/LoadChapterItems.js"></script>


<form id="frmLoadChapterItems">
    <div id="dvLoadChapterItems" style="width: 100%; border: none; margin-bottom: 10px;">
    </div>

    <input type="button" id="btnAdd" title="Add" value="Add" class="jqueryButton" />

    <div id="dvLoadChapterItemsList" style="margin-top: 10px;width:100%">
        <table id="tblLoadChapterItemsList">
        </table>
        <div id="dvLoadChapterItemsListpager">
        </div>
    </div>
</form>
