<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/Proposal/MatrixMasterLayout.js"></script>

<center>
    <form id="frmMatrixMaster">
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.Hidden("PMGSYScheme", PMGSY.Extensions.PMGSYSession.Current.PMGSYScheme)
        @Html.Hidden("flg", (bool)(ViewBag.flag))
        @if (PMGSY.Extensions.PMGSYSession.Current.PMGSYScheme == 2)
        {
<div style="width:100%">
    <div style="height:25px;border:none; margin-top:5px;" class="ui-corner-top ui-widget-header panelheader" @*class="ui-state-default"*@>
        <span class="ui-jqgrid-title" style="float: left">&nbsp;Master Matrix</span>
        @*<span style="float:right;margin-right:2Px; margin-top:2px" id="idFilterDiv" class="ui-icon ui-icon-circle-triangle-n"></span>  *@   
    </div>
<div style="margin-top:10px; width:98%; margin-left:-5px;">
    <table id="tblMatrixParams"></table>
    <div id="dvPagerMatrix" ></div>
</div>
    </div>
        }
        else
        {
            <center>
    <table class="rowstyle">
        <tr>
            <td style="width: 5%;"></td>
            <td style="width: 25%;">
                <strong>
                    <label>Matrix Master details are available only for PMGSY Scheme 2</label>
                </strong>
            </td>
            <td style="width: 5%;"></td>
            <td style="width: 15%;"></td>
        </tr>
    </table>
        </center>
        }
        </form>
</center>
