@*@model PMGSY.Models.Proposal.RevisedCostLengthViewModel*@


<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/Proposal/RevisedCostLength.js"></script>

<center>
<div id="divAddRevisedDetails">

</div>
<div style="margin-top:20px;width:100%">
    <table id="tblstRevisedCost"></table>
    <div id="pagerlstRevisedCost"></div>
</div>

</center>