<script src="~/Scripts/custom/Generic.js"></script>  
<script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
@*<script src="~/Scripts/QualityMonitoring/SchedulePriorityLayout.js"></script>*@


<script src="~/Areas/QMSSRSReports/Scripts/SchedulePriorityLayout.js"></script>

<div id="accordionStatePriority" style="display: block;width:100%;margin-top:0px; "></div>
<div id="accordionDistrictPriority" style="display:none;width:100%;margin-top:0px;"></div>  
<div id="accordionRoadPriority" style="display: none; width:100%;margin-top:0px;"></div>


