
<head>
    <meta charset="utf-8">
    <title> E-Form Error </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/Bootstrap/bootstrap.min.css">
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
</head>
<style>
    #example2 {
        border: 1px solid #eaab9d;
        padding: 10px;
        box-shadow: 5px 10px 8px 10px #888888;
        margin-top: 50px;
    }
</style>
<body>            
    <p class='container-fluid col-sm-12 col-md-12' style="color: #b94848; font-family: Arial; font-size: 30px; height: 20%;" id="example2">
        Error Occured while processing your Request...
    </p>
</body>
