@model PMGSY.Models.QualityMonitoring.NQMNotAvailableInspectionViewModel
@{
    ViewBag.Title = "InspectionTargetLayout";
}
<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/QualityMonitoring/NQMNAForInspectionLayout.js"></script>

<center>
   <div style="width:100%">
       
       <div id="dvSearchNQMNA" ></div>     
       <div id="dvADDNQMNAList" >
             <table style="width:100%; padding-top:1.5em;">
                 <tr>  
                    <td>
                         <div class="ui-state-default ui-corner-all jqueryButton" id="btnAdd" title="Add NQM Details">
                             <span style="float:left" class="ui-icon ui-icon-circle-plus"></span>
                             <span style="float:left; margin-right:5px">Add NQM Details</span>
                        </div>
                         <div class="ui-state-default ui-corner-all jqueryButton" id="btnSearch" title="Search NQM Details">
                             <span style="float:left" class="ui-icon ui-icon-search"></span>
                             <span style="float:left; margin-right:5px">Search NQM Details</span>
                          </div>
                     </td>
                </tr>
            </table>

           <div id="NQMNADetails">
        </div>
    </div>
  </div>
</center>








