@**
        * Project Id    :
        * Project Name  :   OMMAS II
        * Name          :   QM2TierPIU.cshtml
        * Description   :   View for QM2TierPIU
        * Author        :   Shyam Yadav 
        * Creation Date :   10/Jun/2013
 **@

<!DOCTYPE html>
@{Layout = null;}
<html>
<head>

    <script src="~/Scripts/custom/Generic.js"></script>
    <script src="~/Scripts/jquery.ui.tabs.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/QualityMonitoring/QM2TierPIU.js"></script>

</head>
<body>

    @Html.Hidden("hdnRoleCodeOnSqcLayout3Tier", PMGSY.Extensions.PMGSYSession.Current.RoleCode.ToString())
    @Html.Hidden("hdnTierId", "2Tier")

    <div id="tabs-2TierDetailsPIU" style="width: 99%;">
        <ul>
            <li><a href="#tabs-2TierDetailsPIU-0" onclick="Show2TierPIUInspectionDetails();return false;">Inspection Details</a></li>
            <li><a href="#tabs-2TierDetailsPIU-1" onclick="PIU2TierScheduleListGrid();return false;">Schedule Details</a></li>
            @* <li><a href="#tabs-2TierDetails-2" onclick="ShowSQCATR();return false;">Maintenance ATR Details</a></li>*@
            @*ATR details for PIU*@
            @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 22 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 38 || PMGSY.Extensions.PMGSYSession.Current.RoleCode == 54
                )
            {
                <li><a href="#tabs-2TierDetailsPIU-2" onclick="PIU2TierATRDetailsGrid();return false;">ATR Details</a></li>
            }


            @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 5)
            {
                <li><a href="#tabs-3TierDetails-3">Monitor Details</a></li>
            }
            <div style="width: 98%; text-align: right; padding-top: 5px;">2nd Tier Quality Monitoring </div>
        </ul>

        <div id="tabs-2TierDetailsPIU-0">
            <div id="div2TierPIUInspFilters"></div>
            <div id="div2TierPIUInspectionDetails" style="width: 100%; margin-top: 15px;">
                <table id="tb2TierSqcInspList"></table>
                <div id="dv2TierSqcInspListPager"></div>
            </div>

            <div id="accordion2TierPIUInspection" style="display: none; width: 100%; margin-top: 10px;">
                <h3 style="text-align: left">
                    <a id="" href="#" style="font-size: .9em;">Inspections Details</a>
                    <a href="#" style="float: right;">
                        <img style="border: none" class="ui-icon ui-icon-closethick" onclick="Close2TierPIUInspDetails();" />
                    </a>
                </h3>
                <div id="div2TierPIUInspDetails" style="display: none;"></div>
            </div>
        </div>

        <div id="tabs-2TierDetailsPIU-1">
            <div id="div2TierPIUSchedulePreparation" style="width: 100%; margin-top: 15px;">
                <table id="tb2TierPIUScheduleList"></table>
                <div id="dv2TierPIUScheduleListPager"></div>
            </div>

            <div id="accordion2TierPIUSchedule" style="display: none; width: 100%; margin-top: 10px;">
                <h3 style="text-align: left">
                    <a id="" href="#" style="font-size: .9em;">Schedule Details</a>
                    <a href="#" style="float: right;">
                        <img style="border: none" class="ui-icon ui-icon-closethick" onclick="Close2TierPIUScheduleDetails();" />
                    </a>
                </h3>
                <div id="div2TierPIUScheduleDetails" style="display: none;"></div>
            </div>
        </div>

        @*ATR details for PIU*@
        <div id="tabs-2TierDetailsPIU-2">
            <div id="div2TierPIUATRDetailsFilters"></div>
            <div id="div2TierPIUATRDetailsPreparation" style="width: 100%; margin-top: 15px;">
                <table id="tb2TierPIUATRDetailsList"></table>
                <div id="dv2TierPIUATRDetailsListPager"></div>
            </div>


            <div id="div2TierATRDetailsHtmlPage" style="width: 99%; overflow: auto; height: 350px;"></div>

            <div id="accordion2TierPIUATRDetails" style="display: none; width: 100%; margin-top: 10px;">
                <h3 style="text-align: left">
                    <a id="" href="#" style="font-size: .9em;">ATR Details</a>
                    <a href="#" style="float: right;">
                        <img style="border: none" class="ui-icon ui-icon-closethick" onclick="Close2TierPIUATRDetails();" />
                    </a>
                </h3>

                <div id="div2TierPIUATRDetails" style="display: none;"></div>

            </div>


            @* Added by deendayal on 22-01-2018*@
            @*<div id="tabs-2TierDetails-2" >
                    <div id="div2TierATRQualityFiltersHtml"></div>
                      <div style="width: 99%; height: 20px; border: none; margin-top: 5px; margin-bottom: -15px;" class="ui-state-default">
                          <span style="float: left; margin-left: 5px; padding: 2px;">Maintenance ATR Details</span>
                          <span style="float: right; margin-right: 2Px; margin-top: 2px" id="spn2TierATRHtml" class="ui-icon ui-icon-circle-triangle-n"></span>
                      </div>
                      <div id="div2TierATRDetailsHtml" style="width: 99%; overflow: auto; height: 350px;"></div>
                      <br />
                      <div id="accordionATR2TierSqc" style="display: none; width: 100%; margin-top: 10px;">
                          <h3 style="text-align: left"><a id="" href="#" style="font-size: .9em;">Maintenance ATR Details</a>
                              <a href="#" style="float: right;">
                                  <img style="border: none" class="ui-icon ui-icon-closethick" onclick="CloseATR2TierSqcDetails();" /></a>
                          </h3>
                          <div id="divATR2TierSqcDetails" style="display: none;"></div>
                      </div>

                      <div id="accordionBulkSQCATRDetails" style="display: none; width: 100%; margin-top: 10px;">
                          <h3 style="text-align: left"><a id="" href="#" style="font-size: .9em;">Regrade ATR</a>
                              <a href="#" style="float: right;">
                                  <img style="border: none" class="ui-icon ui-icon-closethick" onclick="CloseBulkSQCATRDetails();" /></a>
                          </h3>
                          <div id="divBulkSQCATRDetails" style="display: none;"></div>
                      </div>
            </div>*@

            @if (PMGSY.Extensions.PMGSYSession.Current.RoleCode == 5)
            {
                <div id="tabs-3TierDetails-3">
                    <div id="div2TierMonitorListFilters" style="width: 100%">
                        @{Html.RenderAction("QualityFilters2TierCQCMonitorList", "QualityMonitoring");}
                    </div>
                    <div id="div2TierMonitorList" style="width: 98%; margin-top: 15px;">
                        <table id="tb2TierMonitorList"></table>
                        <div id="dv2TierMonitorListPager"></div>
                    </div>
                    <div id="accordionMonitorList" style="display: none; width: 100%; margin-top: 10px;">
                        <h3 style="text-align: left">
                            <a id="" href="#" style="font-size: .9em;">Monitor Details</a>
                            <a href="#" style="float: right;">
                                <img style="border: none" src="" class="ui-icon ui-icon-closethick" onclick="CloseMonitorDetails();" />
                            </a>
                        </h3>
                        <div id="divMonitorDetails" style="display: none;"></div>
                    </div>
                </div>
            }
        </div>
</body>
</html>
