@model PMGSY.Models.QualityMonitoring.QMComplainUploadViewModel
<script type="text/javascript">
    $(document).ready(function () {
        //alert("Ök");
    });

    $("#btnUpload").click(function () {

        var form_data = new FormData();

        var objQMJIFile = $("input#fileUploadComplain").prop("files");
        console.log(objQMJIFile[0]);

        form_data.append("frmQmComplainFile", objQMJIFile[0]);

        var data = $("#frmQmComplainFile").serializeArray();
        //alert(JSON.stringify(data));
        for (var i = 0; i < data.length; i++) {
            form_data.append(data[i].name, data[i].value);
        }

        $.ajax({
            url: "/QualityMonitoring/QMComplainUpload",
            type: "POST",
            data: form_data,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    alert("Complaint Document Uploaded Successfully.");
                    CloseQMComplainUpload();
                }
                else {
                    alert(data.message);
                }
            }
        });

        return false;
    });

</script>



<!--div id="divQMComplainList" style="width: 100%; border: none;" class="ui-state-default">
    <div id="dvhdQMComplain" class="ui-corner-top ui-widget-header panelheader" style="text-align: center; height: 20px;">
        <span class="ui-jqgrid-title" style="float: left">&nbsp;Complainant  </span>
        <span class="ui-icon ui-icon-closethick" style="float: right" onclick="CloseQMComplainUpload();" ></span>
    </div-->
<script src="~/Scripts/custom/Generic.js" type="text/javascript"></script>
<form id="frmQmComplainFile" name="frmQmComplainFile" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.ComplainId)
    <table class="rowstyle" style="margin-top: 10px; text-align: left; border: ridge 0.1em #ccc; width: 100%; padding: 5px 5px 5px 5px;">


        <tr>
            <td style="text-align: right;">Select Complaint Document (PDF) upto 20 MB :</td>
            <td colspan="3" style="text-align: left;">
                <span style="color: red">*</span>
                <input id="fileUploadComplain" name="fileUploadComplain" type="file" />

            </td>


        </tr>
        <tr>
            <td colspan="4" style="text-align: center">
                <input type="button" id="btnUpload" value="Upload" />
            </td>


        </tr>
    </table>


</form>
</!--div>