@*
    * Project Id    :
    * Project Name  :   OMMAS II
    * Name          :   QMComplain.cshtml
    * Description   :   Render View for Complain In Quality
    * Author        :   Anand Singh
    * Creation Date :   07/Sep/2016
*@

@model PMGSY.Models.QualityMonitoring.QMComplainFilterViewModel
<script src="~/Scripts/jquery.ui.accordion.js"></script>
<script src="~/Scripts/QualityMonitoring/QMComplainLayout.js"></script>

        
        <div id="divQMComplainContainer" style="display: block;">
    </div>
