@if (Layout == null)
{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/AccountReports/Views/Account/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.dialog.js")"></script>
<script src="~/Areas/DARPAN2UP/Scripts/DARPAN2UPLayout.js"></script>
<script src="~/Scripts/custom/Generic.js"></script>

<div id="dvhdDarpanLayout" class="ui-corner-top ui-widget-header panelheader" style="text-align: left; height: 20px;">
    <span class="ui-jqgrid-title" style="float: left">&nbsp;DARPAN2UP KPI </span>
    <span id="spCollapseIconCN" class="ui-icon ui-icon-circle-triangle-n" style="float: right"></span>
</div>
<div id="dvDarpan2UPLayout" class="ui-corner-bottom" style="display: block; border: 1px solid #B5B8C8;">

    <form id="frmDarpanLayout">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("hdnRole", PMGSY.Extensions.PMGSYSession.Current.RoleCode.ToString())
        <table class="rowstyle" style="margin-top: 0px; text-align: center; width: 100%;">
            <tr>
                <td rowspan="2" style="text-align: left;">
                    <input type="button" id="btnGenDARPAN2UPJSON1" value="DARPAN2UP KPI" class="jquerybutton" style="margin-left: 20px;" />
                </td>
            </tr>
        </table>
    </form>
</div>