<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/Master/ListAlertDetails.js"></script>
<center>
<div style="width:100%">
<div id="dvAddAlertDetails" style="display:none"></div>

</div>
<div style="margin-top:10px">

    <div id="dvSearchAlertDetails" >  
    </div>   
    <br />
    <table id="tblAddNewButton" style="width: 100%;">
        <tr>
            <td style="text-align: left">
                <div class="ui-state-default ui-corner-all jqueryButton" id="btnCreateNew" title="Add Details">
                    <span style="float: left" class="ui-icon ui-icon-circle-plus"></span>
                    <span style="float: left; margin-right: 5px">Add Alert Details </span>
                </div>
            </td>

         </tr>
        <tr id="trSearchDetails" style="display:none">
            <td style="text-align: left">
                <div class="ui-state-default ui-corner-all jqueryButton" id="btnSearchAlerts" title="Search Details">
                    <span style="float: left" class="ui-icon ui-icon-search"></span>
                    <span style="float: left; margin-right: 5px">Search Alert Details </span>
                </div>
            </td>
         </tr>
    </table> 
    <table id="tblAlertDetails"></table>
    <div id="dvPagerAlertDetails" ></div>
</div>
</center>
