<script src="~/Scripts/custom/Generic.js" type="text/javascript"></script>
<script src="~/Scripts/Master/Master_ListScourFoundationType.js" type="text/javascript"></script>

<center>
     <div style="width:100%;">
     <div id="dvSearchScourFoundation" >     
</div>
 <div id="dvScourFoundationDetails" style="display:none;">
 </div> 
<div id="dvScourFoundationList" >
    <table style="width:100%; padding-top:1.5em;">
    <tr>  
            <td style="text-align:left;"> 
             <div class="ui-state-default ui-corner-all jqueryButton" id="btnCreateNew" title="Add Scour/Foundation">
    <span style="float:left" class="ui-icon ui-icon-circle-plus"></span>
    <span style="float:left; margin-right:5px">Add Scour/Foundation</span>
</div>
             <div class="ui-state-default ui-corner-all jqueryButton" id="btnSearchView" title="Search Scour/Foundation" style="display:none;">
    <span style="float:left" class="ui-icon ui-icon-search"></span>
    <span style="float:left; margin-right:5px">Search Scour/Foundation</span>
</div>
            </td>
        </tr>
     </table>

    <table id="tblMasterScourFoundationTypeList">
    </table>
    <div id="divPagerMasterScourFoundationType">
    </div>
</div>
         </div>
</center>
