

<script src="~/Scripts/Master/Master_ListStreams.js"></script>

 <center>
     <div style="width:100%">
 <div id="dvDetails" style="display:none">
 </div>
    
    
  <div id="dvSearchStreams" ></div>     
<div id="dvList" >

    <table style="width:100%; padding-top:1.5em;">
    <tr>  
       <td style="text-align:left">
          <div class="ui-state-default ui-corner-all jqueryButton" id="btnCreateNew" title="Add Stream">
             <span style="float:left" class="ui-icon ui-icon-circle-plus"></span>
             <span style="float:left; margin-right:5px">Add Stream</span>
          </div>
          <div class="ui-state-default ui-corner-all jqueryButton" id="btnSearchView" title="Search Stream" style="display:none;">
             <span style="float:left" class="ui-icon ui-icon-search"></span>
             <span style="float:left; margin-right:5px">Search Stream</span>
        </div>
      </td>
    </tr>
   </table>
   <table id="tblList" >
   </table>
   <div id="divPager" >
   </div>
</div>
    </div>
</center>
