<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/Master/Master_ListRegion.js"></script>

<center>

    <div style="width:100%;">

<div id="dvRegionDetails" style="display:none; ">
    </div>
    <div id="dvSearchRegion"  >
  
</div>
 
<div id="dvRegionList" >    
  
        <table style="width:100%; padding-top:1.5em;">
    <tr id="trAddNewSearch">  
      
        <td style="text-align:left;">
    <div class="ui-state-default ui-corner-all jqueryButton" id="btnCreateNew" title="Add Region">
    <span style="float:left" class="ui-icon ui-icon-circle-plus"></span>
    <span style="float:left; margin-right:5px">Add Region</span>
</div>
    <div class="ui-state-default ui-corner-all jqueryButton" id="btnSearchView" title="Search Region" style="display:none;">
    <span style="float:left" class="ui-icon ui-icon-search"></span>
    <span style="float:left; margin-right:5px">Search Region</span>
</div>
            </td>
        </tr>

    </table>
    <table id="tblRegionList">
    </table>
    <div id="divPagerRegion">
    </div>
</div>
<br />
<div id="dvMapRegionDistrictsDetails" style="display:none; ">
</div>
<div id="dvMappedRegionDistrictsDetails" style="display:none;">
</div>
        </div>
</center>

