<script src="~/Scripts/custom/Generic.js" type="text/javascript"></script>
<script src="~/Scripts/Master/Master_ListUnits.js" type="text/javascript"></script>
<center>
      <div style="width:100%;">
<div id="dvUnitDetails" style="display:none;">
 </div>
<div id="dvUnitList" > 
    <table id="tblAddNewButton" style="width: 100%;">
        <tr>
                <td style="text-align: left">
                <div class="ui-state-default ui-corner-all jqueryButton" id="btnCreateNew" title="Add Unit">
                    <span style="float: left" class="ui-icon ui-icon-circle-plus"></span>
                    <span style="float: left; margin-right: 5px">Add Unit</span>
                </div>
                </td>
       </tr>
    </table>   
    <table id="tblUnitList">
    </table>
    <div id="divPagerUnit">
    </div>
</div>
</div>
</center>
