
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorization Not Enabled</title>
</head>
<body>
    
   <center>
    <div class="ui-state-default ui-corner-all" style="margin-top:10%;border:.1em solid gray">
     @*<span style="text-align:center"> <span class="ui-icon ui-icon-alert" style="float:right"></span>*@
       <span>  <b>  DPIU is not authorized to make bank authorization request. </b> </span>
    </span>
         </div>
    </center>
</body>
</html>
