<script src="~/Scripts/custom/Generic.js"></script>
<script src="~/Scripts/jquery.ui.accordion.js"></script>
<script src="~/Scripts/UserManager/ListProposalDataGap.js"></script>


<center>
<div id="dvGapDetails">
<div id="divPropDetailsTbl">
    <table id="tbPropDataList"></table>    
    <div id="pgPropDataList"></div>
</div>

<div id="divPropDataDetailsTbl" style="margin-top:30px;width:900px">
    <table id="tbPropDataDetailsList"></table>    
    <div id="pgPropDataDetailsList"></div>
</div>
</div>
<div id="accordion" style="display:none;width:98%;margin-top:10px;">            
            <h3 style="text-align:left"><a id="" href="#" style=" font-size:.9em;" >Proposal Details</a>
                <a href="#"  style="float: right;">
                    <img style="border:none" src="" class="ui-icon ui-icon-closethick" onclick="CloseProposalDetails();" /></a>
            </h3>
            <div id="dvPropDetails" style="display:none;">
            </div>                     
</div>
</center>