@model PMGSY.Models.Bank.AdminDepartmentViewModel


<script src="~/Scripts/custom/Generic.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.ui.datepicker.js"></script>
<script src="~/Scripts/Bank/DisplayDPIUList.js"></script>

    <div class="ui-widget-header innerDivHeader">
       DPIU Configuration
    </div>
<form id="frmChangeDPIUStatus">
<center>
<div id="divDPIUList" style="margin-top:20px;margin-bottom:20px">

    <table id="tbDPIUDetailsList">

    </table>
    <div id="pagerDPIUList">

    </div>

</div>
</center>
</form>