<script src="~/Scripts/custom/Generic.js" type="text/javascript"></script>
<script src="~/Areas/WronglyMappedHabs/Scripts/WronglyMappedHabsList.js"></script>
<center>
   <div style="width:100%">
        
       <div id="dvAgencyDetails" style="display:none">
        </div>
        
       <div id="dvSearchAgency" style="display:none"></div>     
        
       <div id="dvWronglyMappedList" >

        <table id="tblList" >
        </table>

        <div id="PagerList" >
        </div>

    </div>
  </div>
</center>
