
<script src="@Url.Content("~/Scripts/custom/Generic.js")" type="text/javascript" ></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/MasterDataEntry/Master_ListMLAConstituency.js")"> </script>


<center>

    <div style="width:100%;">
 <div id="dvMLAConstituencyDetails" style="display:none; ">
       
      </div>@* end of craete new div*@

<div id="dvSearchMLAConstituency"  >
     
    

</div>

 

<div id="dvMLAConstituencyList" >

    <table style="width:100%; padding-top:1.5em;">
    <tr id="trAddNewSearch">  
        @*<td style="width:17.5%;"></td> *@
       <td  style="text-align:left">
    @*   <input type="button" id="btnCreateNew" name="btnCreateNew" value="Add New MLA Constituency" class= "jqueryButton" title="Add New MLA Constituency"  /> 
      <input type="button" id="btnSearchView" name="btnSearchView" value="Search MLA Constituency" class= "jqueryButton" title="Search MLA Constituency" style="display:none;"/> *@

         <div class="ui-state-default ui-corner-all jqueryButton" id="btnCreateNew" title="Add MLA Constituency">
    <span style="float:left" class="ui-icon ui-icon-circle-plus"></span>
    <span style="float:left; margin-right:5px">Add MLA Constituency</span>
</div>
             <div class="ui-state-default ui-corner-all jqueryButton" id="btnSearchView" title="Search MLA Constituency" style="display:none;">
    <span style="float:left" class="ui-icon ui-icon-search"></span>
    <span style="float:left; margin-right:5px">Search MLA Constituency</span>
</div>

            </td>
        </tr>
  @*  <tr></tr>
    <tr></tr>*@
    </table>

    <table id="tbMLAConstituencyList">

    </table>

    <div id="dvMLAConstituencyListPager"></div>
</div>

    
     

<br />

<div id="dvMapMLAConstituencyBlockDetails"  style="display:none;" >@*border:none; class="ui-widget-content"*@ 


</div>

    <div id="dvMappedMLAConstituencyBlockDetails" style="display:none; ">


</div>
        </div>


     </center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}