@{
    ViewBag.Title = "CDWorksTypeDetails";
}

<div id="CDWorksTypeDetails">
    <table id="CDWorksTypeDetailsTable"></table>
</div> 
<div id="CDWorksTypeDetailsPager"></div>

<script src="~/Scripts/MasterReports/CDWorksTypeDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>