@{
    ViewBag.Title = "CDWorksLengthDetails";
}

<div id="CDWorksLengthDetails">
    <table id="CDWorksLengthDetailsTable"></table>
</div> 
<div id="CDWorksLengthDetailsPager"></div>

<script src="~/Scripts/MasterReports/CDWorksLengthDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>