@{
    ViewBag.Title = "ComponentDetails";
}

<div id="ComponentDetails">
    <table id="ComponentDetailsTable"></table>
</div> 
<div id="ComponentDetailsPager"></div>

<script src="~/Scripts/MasterReports/ComponentDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>