@{
    ViewBag.Title = "FeedbackDetails";
}


<div id="FeedbackDetails">
    <table id="FeedbackDetailsTable"></table>
</div> 
<div id="FeedbackDetailsPager"></div>

<script src="~/Scripts/MasterReports/FeedbackDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>