@{
    ViewBag.Title = "Funding Agency Details";
}

<div id="FundingAgencyDetails">
    <table id="FundingAgencyDetailsTable"></table>
</div> 
<div id="FundingAgencyDetailsPager"></div>

<script src="~/Scripts/MasterReports/FundingAgencyDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>