@{
    ViewBag.Title = "LokSabhaTermDetails";
}

<div id="LokSabhaTermDetails">
    <table id="LokSabhaTermDetailsTable"></table>
</div> 
<div id="LokSabhaTermDetailsPager"></div>

<script src="~/Scripts/MasterReports/LokSabhaTermDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>