@{
    ViewBag.Title = "TaxesDetails";
}

<div id="TaxesDetails">
    <table id="TaxesDetailsTable"></table>
</div> 
<div id="TaxesDetailsPager"></div>

<script src="~/Scripts/MasterReports/TaxesDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>