@{
    ViewBag.Title = "TechnologyDetails";
}

<div id="TechnologyDetails">
    <table id="TechnologyDetailsTable"></table>
</div> 
<div id="TechnologyDetailsPager"></div>

<script src="~/Scripts/MasterReports/TechnologyDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>