@{
    ViewBag.Title = "TestDetails";
}

<div id="TestDetails">
    <table id="TestDetailsTable"></table>
</div> 
<div id="TestDetailsPager"></div>

<script src="~/Scripts/MasterReports/TestDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>