@{
    ViewBag.Title = "UnitDetails";
}

<div id="UnitDetails">
    <table id="UnitDetailsTable"></table>
</div> 
<div id="UnitDetailsPager"></div>

<script src="~/Scripts/MasterReports/UnitDetails.js" type="text/javascript"></script>
<script src="~/Scripts/custom/Generic.js"></script>
